<div class="container">
  <%= form_with(model: task) do |form| %>
    <div class="mb-3">
      <%= form.label :title, class:'form-label' %>
      <%= form.text_field :title, class:'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :details, class:'form-label' %>
      <%= form.text_field :details, class:'form-control' %>
    </div>
    <% if current_page?(controller: "tasks", action: "new") %>
      <%= form.submit 'Create', class: 'btn btn-outline-primary' %>
    <% else %>
      <%= form.submit 'Edit', class: 'btn btn-outline-primary' %>
    <% end %>
 <% end %>
</div>
